
.show-profile{
    text-align: center;
}

.profil .detalii-profil {
    color: #606060;
    font-size: 17px ;
    font-weight: bold;
}

.acasa .element {
    font-weight: bold;
    font-size: 20px;
}


