.footer {
    background-color: #f3f3f3;
    color: #333;
    font-size: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.social-icons {
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
}

.social-icons .icon-link{
    margin-right: 15px;
}

.icon2 {
    color: #ff00c3;
}